[Desktop Entry]
Type=Application
Name=lofen
GenericName=Music Player
Comment=Modern music streaming client for the terminal.
Exec=lofen
Terminal=true
Categories=Audio;AudioVideo;Player;ConsoleOnly;
Keywords=streaming;music;jellyfin;
